* { box-sizing: border-box; }
body { background-color: rgb(101, 97, 97);
       color: #221811;
	   font-family: Tahoma, Arial, sans-serif; 
	   margin: 0;  
}

nav {
	display: flex;
	vertical-align: middle;
	margin-left: 20px;
}

.canvas-container {
	display: block;
	justify-content: center;
	align-items: center;
}